In [1]:
import pandas as pd
import bamboolib as bam

In [3]:
color_discrete_map={0: 'rgb(177, 164, 191)', 1: 'rgb(86, 213, 183)'}

In [5]:
import pandas as pd
df = pd.read_csv(r'/home/docker/app/data/tous_exemplaires_ready.csv', sep=',', decimal='.')
df = df.loc[df['date_pub'] > 1900]
for column_name in ['date_pub', 'statut_ex', 'bib', 'pret', 'acces', 'acq', 'indice']:
    df[column_name] = df[column_name].astype('category')
df

,date_pub,statut_ex,bib,pret,diff_datecreation_datepub,acces,acq,indice
0,2001,19,SJA,1,16,direct,achat,33
1,2005,19,LASH,1,13,direct,don,868
2,2007,19,LASH,0,10,direct,achat,19
3,2007,19,SJA,0,13,direct,achat,65
4,1942,19,LASH,1,74,indirect,don,numinv
...,...,...,...,...,...,...,...,...
54458,2006,19,SJA,1,12,direct,achat,70
54459,2006,19,SJA,1,12,direct,achat,70
54460,2007,19,SJA,1,9,direct,don,33
54461,2005,19,LASH,0,16,direct,don,44
54462,1983,19,LASH,1,33,direct,don,79

In [7]:
d=pd.crosstab(columns=["acces,pret"])
d

TypeError: crosstab() missing 1 required positional argument: 'index'